* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg,
            #eee8ff,
            #dce8ff);

    color: #29235c;
}


.cabecalho {
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;

    background: white;

    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 27px;

    font-weight: 600;

    color: #40258e;
}

.btn-login {
    background: white;

    border: 1px solid #29235c;

    border-radius: 5px;

    padding: 5px 30px;

    color: #29235c;

    cursor: pointer;
}


.conteudo {
    padding: 20px 30px;
}


.topo-eventos {
    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    margin-bottom: 30px;
}

.topo-eventos h2 {
    font-size: 20px;

    font-weight: 400;

    margin: 0;
}

.topo-eventos h2 span {
    font-weight: 600;

    color: #482b9c;
}


.pesquisa {
    display: flex;

    align-items: center;

    width: 300px;
}

.pesquisa input {
    height: 38px;

    border-radius: 6px 0 0 6px;

    border-right: none;
}

.pesquisa button {
    height: 38px;

    width: 45px;

    border: 1px solid #ced4da;

    border-left: none;

    background: white;

    border-radius: 0 6px 6px 0;

    cursor: pointer;
}

.btn-cadastrar {
    background: white;

    border: 1px solid #29235c;

    border-radius: 5px;

    padding: 7px 18px;

    color: #29235c;

    white-space: nowrap;

    cursor: pointer;
}

.btn-cadastrar:hover {
    background: #f0eaff;
}

.card-evento {
    height: 220px;

    border: 1px solid #222;

    border-radius: 20px;

    background: white;

    overflow: hidden;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    padding: 15px;

    transition: 0.2s;
}

.card-evento:hover {
    transform: translateY(-3px);

    box-shadow:
        0 5px 15px rgba(60, 40, 130, 0.15);
}


.imagem-evento {
    width: 100%;

    height: 110px;

    object-fit: cover;

    border-radius: 12px;

    background: linear-gradient(135deg,
            #d9ccff,
            #c6ddff);
}

.nome-evento {
    font-size: 17px;

    font-weight: 600;

    color: #302064;

    margin: 8px 0;
}

.btn-inscrever {
    align-self: flex-start;

    padding: 4px 12px;

    border: 1px solid #29235c;

    border-radius: 5px;

    background: white;

    color: #29235c;

    font-size: 12px;

    cursor: pointer;
}

.btn-inscrever:hover {
    background: #eee8ff;
}

